html {
  --text-color: black;
  --title-background: aquamarine;
  --box-shadow: #5dbA9b;
}

body {
  font-family: "Avenir Next W01", Lato, Roboto, Arial, sans-serif;
  line-height: 1.5;
  color: var(--text-color);
}

main,
footer {
  margin: 0 auto;
  padding: 2em;
  max-width: 500px;
}

a {
  text-decoration: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
  color: var(--text-color);
}

a:visited {
  color: var(--text-color);
}

a:link {
  color: var(--text-color);
}

a:active {
  color: var(--text-color);
}

.app {
  margin: 20px auto;
}

.event {
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 500px;
  padding: 15px;
  margin: 5px auto;
  transition: all 0.3s ease 0s;
}

.title {
  background: var(--title-background);
  padding: 5px;
  max-width: 500px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  box-shadow: 5px 5px 0 var(--box-shadow);
}

button {
  border-radius: 5px;
  border: 2px solid var(--text-color);
  display: inline-block;
  padding: 5px;
  user-select: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover {
  outline: none;
}

footer {
  text-align: left;
  max-width: 500px;
}
